<h1>Document Vault</h1>

<p>
Hi <%= @user.name %> </p>
<p>Welcome to the Document App Enjoy!!!!
Click the link below to activate your account<p>
<p><%= link_to "Activate",  edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
