<h1> About Document Vault </h1>
<%= image_tag("pad.jpg", width: "400", height: "200", alt: "logo") %>
<p>We keep track of all the documents you want and have and need
Awesome stuff you can do here
<ul>
    <li> Search for documents</li>
    <li> Upload documents</li>
    <li> View all your  friends documents </li>
    <li> See comments on your documents</li>
</p>
<p>
We started this application to enable user to be able to 
share documents that can help one in his/her area of research or study.
Also it helps keep the information going and be passed around to the appropriate people
Our clients are happy of our services so far and we get emails daily commending 
us of our infinite help 
All services are free here unless  you want to use the vault for a companies 
documents or store a ridiculously large number of files

</p>
</body>
