<h1> Document Vault</h1>

<body>
<p>We keep track of all the documents you want and have and need <br>
Awesome stuff you can do here
<ul>
<li> Search for documents</li>
<li> Upload documents</li>
<li> View all your  friends documents </li>
<li> See comments on your documents</li>
</p>
<p>
Hurry Join to start enjoying our awesome services!!!!</p>
<% unless logged_in? %>
<%= link_to "Join !!!", join_path %> 
<% end %>
</body>
