<h1> Document Vault</h1>

<%= link_to "About", about_path %>
<%= link_to "Support", support_path %>
<body>
    <p>We keep track of all the documents you want and have and need <br>
Awesome stuff you can do here
<ul>
    <li> Search for documents</li>
    <li> Upload documents</li>
    <li> View all your  friends documents </li>
    <li> See comments on your documents</li>
</p>
<p>
Hurry Join to start enjoying our awesome services!!!!</p>
<button> Join !!! </button>
</body>
