    <% provide(:title, "Support") %>
<h1> Support </h1>
<%= image_tag("doc.jpg", width: "400", height: "200", alt: "logo") %>
<body>
<p>
Mail to us of particularly anything even if
you want to  criticize me, point a bug, concern or u just wonna say hi<br>
Just #put it out there
</p>
<p>
Feel free to raise a concern here and even for any clarifications<br>
Just mail me Bunch!!!
</p>
<p> I promise no judging
</p>
<%= link_to "Mail us",mail_path %>
</body>
