#list
{
    li{
        display:inline;
    }

}
#flash{
    height:200;
    width:100;
}
#flash.yeah {
    background-color:green;
    color:black;
}
#flash.nasty {
     background-color:red;
     color:black;
}
body {
background:#bf5c71;
}
#error {
    color:maroon;
}
