.top-bar
{
    li{
        display:inline;
    }
    background:pink;

}
#flash{
    height:200;
    width:100;
}
#flash.yeah {
    background-color:green;
    color:black;
}
#flash.nasty {
     background-color:red;
     color:black;
}
#flash.info {
    background-color:darkblue;
    color:black;
}
.body {
background:#bf5c71;
}
#error {
    color:maroon;
}
#text-area {
    border: 1px solid gray;
    position:center;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    background-color:pink;
    height: 400px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 600px;


}
#text-area.h2{
    font:italic;
}
table {
    border-collapse: collapse;
    width: 100%;

}
th{
color:maroon;
}
th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid gray;

}

// form {
//     width:800px;
//     margin-right:auto;
//     margin-left:auto;
//     // border:1px solid #000;
//     // border-radius: 5px;
//     font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
//     overflow: hidden;
//     position:center;
// }
// label {
//     width:50px;
// }
.row {
background:#bf5c71;

}
